html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar
}

*, ::after, ::before {
    box-sizing: inherit
}

body {
    font-family: Cairo, sans-serif;
    font-size: 19px;
    line-height: 1.8;
    color: #000;
    background-color: #ffffff;
    margin: 0
}

button {
    background: 0 0;
    border: 0;
    cursor: pointer
}

svg:not(:root) {
    overflow: hidden
}

svg {
    vertical-align: middle
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    line-height: 1.4;
    clear: both;
    margin: 0 0 20px 0
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 28px;
}

h6 {
    font-size: 24px;
}

img {
    max-width: 350 px;
    height: auto;
    vertical-align: middle
}
.gray-p p {
    color: #5c5e66;
}
a {
    color: #0c3b91;
}
.relative {
    position: relative;
}
p {
    margin: 0
}

iframe {
    max-width: 100%
}

::placeholder {
    color: #2b2b2b;
    font-size: 17px;
}

.memo-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.memo-section-padding {
    padding: 40px 0;
}

.memo-col-30 {
    width: 100%;
}

.memo-flex {
    display: flex;
    flex-wrap: wrap;
}

.memo-space-between {
    justify-content: space-between;
}

.memo-align-center {
    align-items: center;
}

.memo-screen-reader {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute!important;
    width: 1px;
    word-wrap: normal!important
}

.memo-screen-reader:active, .memo-screen-reader:focus {
    background-color: #f1f1f1;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    clip: auto!important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000
}
.mb-60 {
    margin-bottom: 60px;
}
.memo-btn {
    padding: 7px 25px;
    border-radius: 10px;
    margin: 0 0 8px 8px;
    text-decoration: none;
    font-weight: 900;
    color: #000000;
    background-color: #ffd24d;
    font-size: 23px;
    text-align: center;
}

    
.icon.icon-border {
    background: #dee0ff;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    font-size: 32px;
    color: #4a5dd8;
    line-height: 52px;
    margin-left: 15px;
}

a.memo-btn-trans {
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.memo-btn-green {
    background-color: #4a5dd8;
    color: #fff;
}

.memo-btn .icon {
    margin-left: 6px;
}

.memo-hideflow {
    overflow: hidden
}

.memo-txtcenter {
    text-align: center
}

.memo-txtleft {
    text-align: left;
}

.memo-bg-gray {
    background-color: #faf8f3;
}

.memo-main-color {
    color: #2f475f;
}

.memo-bg-main-color {
    background-color: #4a5dd8;
}

.memo-btn-group a {
    margin-left: 30px;
}

.memo-btn-group {
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
}

.memo-second-color {
    color: #ffd24d;
}

.memo-color-white {
    color: #fff;
}

.memo-bottomborder-right {
    border-bottom: 3px solid #d29d34;
    display: inline-block;
    padding-bottom: 7px;
    margin-bottom: 23px;
}

.memo-bottom-border {
    display: block;
    padding-bottom: 7px;
    margin-bottom: 23px;
    text-decoration: none;
}

.memo-bottom-border:after {
    content: " ";
    background: #4a5dd8;
    height: 4px;
    width: 18%;
    display: block;
    margin: 11px auto auto auto;
}

.memo-header {
    display: block;
    box-shadow: 0 6px 59px rgb(8 12 20 / 11%);
    position: relative;
    z-index: 999;
}

.memo-header.sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    background: #ffffff;
    box-shadow: 0 6px 59px rgb(8 12 20 / 11%);
}

.memo-site-logo {
    display: block;
}

.memo-city-box {
    width: 143px;
    background: #fff;
    color: #666;
    border: 1px solid #00000029;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
    text-align: center;
    display: block;
    text-decoration: none;
}

.memo-topbar-contact {
    list-style: none;
    margin: 0;
    padding: 14px 0;
    font-size: 16px;
}

.memo-topbar-contact li {
    display: inline-block;
    margin-right: 15px;
}

.memo-topbar-contact li a {
    display: inline-block;
    margin-right: 15px;
    color: #000000;
    text-decoration: none;
    display: inline-block;
}

.memo-search-form label {
    display: block;
    color: #fff;
    width: 100%;
}

.memo-search-form {
    position: relative;
    width: 18%;
}

.memo-search-field {
    width: 100%;
    line-height: 1;
    box-sizing: border-box;
    outline: 0;
    height: 50px;
    border-radius: 6px;
    background: #e8ebf2;
    color: #000;
    overflow: hidden;
    padding-left: 52px;
    border: 0;
}

.memo-required-filed {
    color: #f00;
}

.search-field-wrapp {
    display: flex;
    position: relative;
}

.memo-search-submit {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border: 0;
    background: 0 0;
    outline: 0;
    margin: 0;
    padding: 0 14px;
    z-index: 2;
    color: #ffffff;
    background: #2f475f;
    font-size: 19px;
    font-weight: 900;
    height: 50px;
    border-radius: 5px 0 0 6px;
    line-height: 23px;
}

.memo-sidebar-close, .memo-sidebar-open {
    border-radius: 17px;
    background: 0 0;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 8px 10px;
}

.memo-main-navigation ul {
    list-style: none;
    margin: 0;
    text-align: right;
    padding: 0;
}

.memo-menu-items li {
    position: relative;
}

.memo-menu-items li a {
    color: #ffffff;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: 900;
}

.memo-icon-dropdown {
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(134deg);
}

.memo-submenu-toggle {
    display: block;
    left: 12px;
    position: absolute;
    top: 12px;
    background: #615d69;
    width: 28px;
    height: 28px;
    border-radius: 50px;
}

.memo-sub-menu {
    display: none;
    border-right: 1px solid #FFF;
}

.memo-sub-menu.active {
    display: block
}

.memo-submenu-toggle.active .memo-icon-dropdown {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg)
}

.bar-align {
    display: flex;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.memo-page-hero {
    padding: 20px 0;
    position: relative;
}

.memo-page-hero .container {
    position: relative;
}

.required {
    color: #f44336
}

.g-recaptcha {
    margin-bottom: 21px;
    overflow: hidden;
}

label {
    font-weight: 800;
    margin-bottom: 15px;
    display: block;
}

input[type="text"], input[type="email"], input[type="url"], textarea, input[type="tel"] {
    font-size: 20px;
    background: #ffffff;
    border: 0;
    border-radius: 21px;
    display: block;
    padding: 12px 30px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 2px 5px #00000024;
    border: 1px solid #dcdcdc;
}

select {
    font-size: 15px;
    min-height: 30px;
    max-width: 25rem;
    -webkit-appearance: none;
    background: #fbfbfb url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat left 13px top 55%;
    background-size: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
    width: 100%;
    border: 1px solid #c8d7e1;
    padding: 8px 15px;
}

textarea {
    max-height: 160px;
}

.memo-submit {
    font-weight: 900;
    border: 0;
    padding: 7px 46px;
    font-size: 18px;
    font-weight: 900;
    font-size: 23px;
    width: 100%;
    color: #fff;
    background: #4a5dd8;
    border-radius: 30px;
}
.footer-menu-items a {
    text-decoration: none;
}

ul.footer-menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
}
footer {
    color: #2f475f;
    background-color: #ffffff;
}

footer a {
    color: #2f475f;
}
.booknow {
    background-color: #2f475f;
    color: #fff;
    padding: 35px 0;
}
.contact-info .icon {
    margin-left: 12px;
}

.memo-scrollUp {
    display: none;
    position: fixed;
    left: 17px;
    bottom: 19px;
    border-radius: 50%;
    background: #ffd24d;
    color: #000000;
    outline: 2px dashed #ffd24d;
    width: 42px;
    height: 42px;
    font-size: 23px;
    line-height: 49px;
    text-align: center;
    outline-offset: 3px;
}

.memo-scrollUp.active {
    display: block
}

.memo-whats-icon {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    font-size: 61px;
    color: #16a085;
}

.memo-not-found {
    padding: 80px 0;
    text-align: center;
}

.memo-not-found h1 span {
    display: block
}

.memo-not-found .number {
    color: #2f475f;
    position: relative;
    font: 839 133px Consolas;
    letter-spacing: 5vmin;
    display: block;
}

.footer-padding {
    padding: 59px 0;
}

.memo-copyright {
    text-align: center;
    background-color: #faf8f3;
    padding: 20px 10px;
    font-weight: 900;
    color: #2f475f;
}

.footeritems li a {
    text-decoration: none;
    padding: 6px 0;
    display: block;
}

ul.footeritems {
    list-style: none;
    padding: 0;
}

.footeritems li {
    display: block;
    border-bottom: 1px solid #0000003b;
    padding-right: 24px;
    position: relative;
}
.footer-menu-items li,
.contact-info li {
    margin-bottom: 12px;
}
.contact-info li a{
    text-decoration: none;
}

.footeritems li:after {
    content: ' ';
    width: 0;
    height: 0;
    position: absolute;
    right: 5px;
    top: 17px;
    border: solid #ffffff;
    border-width: 2px 0 0 2px;
    display: inline-block;
    padding: 2.5px;
    transform: rotate(135deg)
}

.memo-search-open {
    font-size: 18px;
    color: #000000;
    border-radius: 22px;
    background-color: #ffd24d;
    border: 0;
    width: 45px;
    height: 45px;
    line-height: 50px;
    text-align: center;
}

.memo-footer-title {
    font-size: 27px;
    font-weight: 900;
    margin-bottom: 20px;
    color: #000000;
}

.contact-info {
    padding: 0;
    list-style: none;
}

.memo-follow-us a {
    margin: 0 8px;
    display: inline-block;
    font-size: 21px;
    text-align: center;
    margin: 5px;
}

.memo-content-box {
    padding: 30px 38px;
    border-radius: 17px;
    margin-bottom: 30px;
}

.memo-content-box img {
    margin-bottom: 30px;
}

.icon {
    font-family: "memoicons";
    content: attr(data-icon);
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
}

.memo-whats-button, .memo-call-button {
    display: flex;
    position: fixed;
    bottom: 10px;
    right: 20px;
    outline: 0;
    cursor: pointer;
    z-index: 9999;
    text-decoration: none;
}

.memo-search-container {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #2f465fe3;
    justify-content: center;
    align-items: center;
}

.memo-search-container.active {
    display: flex;
}

.memo-call-button {
    bottom: 4.2em
}

.memo-call-icon {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, .705);
    background: #ffd24d;
    color: #000000;
    font-size: 44px;
    line-height: 60px;
}

            .memo-call-button:after,.memo-call-button:before {
                content:"";
                display: block;
                position: absolute;
                border: 2px solid #ffd24d;
                inset: -20px;
                border-radius: 50%;
                animation: 1.5s linear infinite callrotat;
                opacity: 0
            }


            @keyframes callrotat {
                0% {
                    transform: scale(.5);
                    opacity: 0
                }

                50% {
                    opacity: 1
                }

                100% {
                    transform: scale(1.2);
                    opacity: 0
                }
            }

.memo-whats-txt, .memo-call-txt {
    padding: 0 8px 0 20px;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    background: #fff;
    color: #000;
    margin-left: -15px;
    line-height: 28px;
    border-radius: 10px;
    height: 35px;
    margin-top: 6px;
    box-shadow: 0 8px 16px 0 rgb(0 0 0/20%), 0 6px 20px 0 rgb(0 0 0/19%)
}

.memo-whats-txt {
    padding: 0 15px 0 25px;
    padding: 0 21px;
    background: #fff;
    color: #000000;
    border: 3px solid #16a085;
}

.memo-call-txt {
    background: #fff;
    background: #4a5dd8;
    color: #ffffff;
    padding: 0 15px 0 20px;
    border: 3px solid #fff;
}

@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 22px;
    }

    h6 {
        font-size: 20px;
    }
}

@media (max-width: 991px) {
    .memo-main-nav {
        position: fixed;
        height: 100%;
        top: 85px;
        right: 0;
        overflow-x: hidden;
        width: 100%;
        z-index: 999;
        background: #292930;
        transform: translateX(+100%);
        transition: transform 0.3s ease;
        padding: 25px;
    }

    .memo-menu-items {
        padding: 0;
        margin: 0;
        text-align: right;
    }

    .memo-sidebar-open.active .icon-navicon-round::before {
        content: "\72";
        color: #f00;
    }

    .memo-sidebar-close {
        background: #ffffff;
        position: absolute;
        top: 0;
        left: 0;
        padding: 4px 7px;
        z-index: 9999;
        right: 0;
        border-radius: 0;
        font-size: 24px;
        color: #000000;
    }

    .memo-sidebar-close .icon {
        color: #f00;
        font-size: 27px;
    }

    .memo-main-nav.active {
        transform: translateX(0);
    }

    .memo-menu-items li {
        background-color: #2c2c32;
        border-radius: 25px;
        margin-bottom: 7px;
    }

    .memo-search-open, .memo-sidebar-open {
        background: #f4f4f4;
        border: 0;
        width: 45px;
        height: 45px;
        line-height: 53px;
        text-align: center;
        padding: 0;
        color: #050505;
    }

    .memo-sidebar-open {
        font-size: 25px;
    }

    .memo-topbar, .call-us-wrap {
        display: none
    }

    .memo-header-search {
        display: none
    }
}

@media (min-width: 576px) {
    .memo-container {
        max-width: 540px
    }
}

@media (min-width: 768px) {
    .memo-container {
        max-width: 720px
    }
}

@media (min-width: 992px) {
    .memo-container {
        max-width: 960px
    }

    .memo-contact-form {
        width: 73%;
        margin: 40px auto;
    }

    .memo-main-nav {
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .memo-sidebar-close, .memo-sidebar-open, .memo-submenu-toggle {
        display: none
    }

    .memo-menu-items>li {
        display: inline-block
    }

    .memo-menu-items li a {
        box-shadow: none;
        padding: 3px 21px;
        color: #000;
    }

    .memo-menu-items li.has-children>a:after {
        content: " ";
        border: solid #000000;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 2.5px;
        transform: rotate(45deg);
        position: relative;
        top: -3px;
        right: 7px
    }

    .memo-menu-items .memo-sub-menu li.has-children>a:after {
        border: solid #f1f1f1;
        border-width: 0 2px 2px 0;
    }

    .memo-menu-items .memo-sub-menu .has-children>a:after {
        position: absolute;
        top: 43%;
        left: 1em;
        right: auto;
        transform: rotate(137deg)
    }

    .memo-menu-items .memo-sub-menu {
        background-color: #2c2c32;
        position: absolute;
        top: 100%;
        right: 0;
        min-width: 180px;
        padding: 0;
        z-index: 9999;
        box-shadow: 0 0 20px 0 rgb(0 0 0 / 40%);
        border-radius: 0 0 10px 10px;
        border-bottom: 3px solid #ffffff;
    }

    .memo-menu-items .memo-sub-menu a {
        color: #fff;
        margin: 0;
        padding: 10px 16px;
    }

    .memo-menu-items .memo-sub-menu a:hover {
        color: #d8d8d8;
    }

    .memo-menu-items .memo-sub-menu .has-children .memo-sub-menu {
        right: 100%;
        top: 0
    }

    .memo-menu-items .has-children:hover>.memo-sub-menu {
        display: block
    }

    .memo-site-branding {
        width: 14%;
    }

    .memo-section-padding {
        padding: 80px 0;
    }

    .memo-col-25 {
        width: 23%;
    }

    .memo-col-30 {
        width: 29%;
    }

    .memo-col-50 {
        width: 49%;
    }

    .memo-col-60 {
        width: 60%;
    }

    .memo-col-70 {
        width: 69%
    }

    .memo-col-20 {
        width: 20%;
    }
        .memo-col-15 {
        width: 15%;
    }
.memo-col-80 {
        width: 78%;
    }

    .memo-col-40 {
        width: 40%;
    }
}

@media (min-width: 1200px) {
    .memo-container {
        max-width: 1150px
    }
}

@media (min-width: 1400px) {
    .memo-container {
        max-width: 1370px;
    }
}

.icon-phone:before {
    content: "\61";
}

.icon-call-phone:before {
    content: "\62";
}

.icon-envelope:before {
    content: "\63";
}

.icon-facebook-alt:before {
    content: "\64";
}

.icon-instagrem:before {
    content: "\65";
}

.icon-whatsapp:before {
    content: "\66";
}

.icon-twitter:before {
    content: "\67";
}

.icon-social-snapchat:before {
    content: "\68";
}

.icon-close:before {
    content: "\69";
}

.icon-arrow-left-c:before {
    content: "\6a";
}

.icon-arrow-right:before {
    content: "\6b";
}

.icon-arrow-up-a:before {
    content: "\6c";
}

.icon-marker:before {
    content: "\6d";
}

.icon-arrow-down-b:before {
    content: "\6e";
}

.icon-arrow-up:before {
    content: "\6f";
}

.icon-home:before {
    content: "\70";
}

.icon-navicon-round:before {
    content: "\71";
}

.icon-times:before {
    content: "\72";
}

.icon-reply:before {
    content: "\73";
}

.icon-bubbles:before {
    content: "\74";
    margin-left: 15px;
    color: #ef5050;
}

.icon-search:before {
    content: "\75";
}
